<% provide(:title, "Books Added") %>
<p>Books Added </p>

<%= will-paginate %>
<table>
    <tr>
        <th align="left">Title</th>
        <th align="left">Author</th>
        <th align="left">Category</th>
        <th align="left">ISBN</th>
        <th align="left">Publisher</th>
        <th align="left">Delete</th>
    </tr>
    <% @books.each do |book| %>
        <tr>
            <td><%= book.title %></td>
            <td><%= book.author %></td>
            <td><%= book.category %></td>
            <td><%= book.isbn %></td>
            <td><%= book.publisher %></td> 
            <td> <%= link_to "delete",book, method: :delete %>
        </tr>
    <% end %>
</table>

<%= will-paginate %>
