<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title><%= yield(:title) %> | "E-Maktaba App " </title>
        <%= stylesheet_link_tag    "application" %>
        <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
        <div class="top-bar">
            <div class="top-bar-left">
                <ul class="dropdown menu" data-dropdown-menu>
                    <li class="menu-text">E-Maktaba</li>
                    <%= link_to "Account" %>
                    <ul class="menu vertical"> </ul>
                    <%= link_to "Home", root_path %>
                    <%= link_to "Log in", login_path %>
                    <%= link_to "Signup", signup_path %>
                    <%= link_to "Users", users_path %>
                    <%= link_to "Log out", logout_path, method: :delete %>

                </ul>
            </div>
            <div class="top-bar-right">
                <ul class="menu">
                    <li><input type="search" placeholder="Search"></li>
                    <li><button type="button" class="button">Search</button></li>
                </ul>
            </div>
        </div></button></li>
        </ul>
        </li>
    </head>

    <body>
        <% flash.each do |message_type, message|%>
        <% end %>
        <%= yield %>
        <%= debug(params) if Rails.env.development? %>
    </body>
</html>
