<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= yield(:title) %> | "E-Maktaba App " </title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <div class="top-bar">
      <div class="top-bar-left">
         <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">E-Maktaba</li>
            <li>
             <a href="#">Account</a>
              <ul class="menu vertical">
                <li><a href="#">Log Off</a></li>
                <li><a href="#">Two</a></li>
                <li><a href="#">Three</a></li>
             </ul>
            </li>
                 <li><a href="#">Home</a></li>
                 <li><a href="#">Log In</a></li>
         </ul>
     </div>
     <div class="top-bar-right">
     <ul class="menu">
     <li><input type="search" placeholder="Search"></li>
     <li><button type="button" class="button">Search</button></li>
     </ul>
     </div>
     </div></button></li>
     </ul>
     </li>
  </head>

  <body>

    <%= yield %>

  </body>
</html>
